@use '../../../styles/scss/abstracts/' as *;

.container {
  width: 100%;
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  @include breakpoint(xl) {
    max-width: 1140px;
  }

  @include breakpoint(lg) {
    max-width: 960px;
  }

  @include breakpoint(md) {
    max-width: 720px;
  }

  @include breakpoint(sm) {
    max-width: 540px;
  }
}
