@use '../../../styles/scss/abstracts/' as *;

.navbar {
  @include flex-between-center;
  padding: 4rem 0;

  .navLinks {
    @include flex-center-vert;
    gap: 5rem;

    .links {
      display: flex;
      font-weight: 600;
      gap: 2.5rem;

      .link {
        font-size: 1.1rem;
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .overlay {
    @include position(fixed, $top: 0, $left: 0);
    display: none;
    z-index: 9999;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    &.active {
      display: block;
    }
  }

  .sidebar {
    @include position(absolute, $top: 0, $right: -100%);
    min-width: 70vw;
    min-height: 100vh;
    z-index: 9999;
    padding: 4rem 2rem;
    transition: 850ms;
    background-color: $policeBlue;

    &.active {
      right: 0;
      transition: 500ms;
    }

    .sidebarToggle {
      @include flex-end-horiz;
    }

    .menuItems {
      margin-left: 1rem;
    }

    .menuClose {
      cursor: pointer;
    }

    .menuLinks {
      @include flex-column;
      margin: 2.5rem 0;
      gap: 2.5rem;

      .menuLink {
        font-size: 1.125rem;
        font-weight: 600;
      }
    }

    .menuButton {
      padding: 0.8rem 2.5rem;
    }

    &::after {
      content: url('../../../assets/background/bg-pattern-about-1-mobile-nav-1.svg');
      @include position(absolute, $bottom: -4px, $right: -100px);
    }
  }

  @include breakpoint(md) {
    .navLinks {
      gap: 3rem;
    }
  }

  @include breakpoint(sm) {
    padding: 3rem 0;

    .navLinks {
      .links {
        display: none;
      }
    }

    .linkButton {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
}
