@use '../../../styles/scss/abstracts/' as *;

.navbar {
  @include flex-between-center;
  padding: 4rem 0;

  .navLinks {
    @include flex-center-vert;

    .logo {
      margin-right: 5rem;
    }

    .links {
      display: inline-block;
      font-weight: 600;

      a {
        font-size: 1.1rem;
      }

      a:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  .hamburger {
    display: none;
  }

  @include breakpoint(md) {
    .navLinks {
      .logo {
        margin-right: 3rem;
      }
    }
  }

  @include breakpoint(sm) {
    padding: 3rem 0;

    .navLinks {
      .links {
        display: none;
      }
    }

    .linkButton {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
}
