@use '../../../styles/scss/abstracts/' as *;

.testimonials {
  position: relative;
  padding: 10rem 0;
  background-color: $deepJungleGreen;

  .heading {
    font-size: $fs-600;
    font-weight: 700;
    text-align: center;
    max-width: 80%;
    margin: 0 auto 6rem auto;

    span {
      color: $raptureBlue;
    }
  }

  .reviews {
    @include grid($columns: repeat(3, 1fr), $gap: 3rem);
    align-items: center;

    &::before {
      content: url('../../../assets/background/bg-pattern-home-4-about-3.svg');
      @include position(absolute, $top: 0, $left: 0);
    }

    &::after {
      content: url('../../../assets/background/bg-pattern-home-5.svg');
      @include position(absolute, $bottom: -4px, $right: 0);
    }
  }

  .review {
    position: relative;
    text-align: center;
    line-height: 2;

    .quote {
      position: relative;
      font-weight: 600;
      z-index: 9999;
    }

    .reviewerInfo {
      margin: 1.5rem 0;

      h4 {
        color: $raptureBlue;
        font-weight: 700;
        font-size: $fs-450;
      }

      .jobTitle {
        font-style: italic;
      }
    }

    img {
      @include profile-avatar(60px, $lightBlue);
    }

    &::before {
      content: url('../../../assets/icons/icon-quotes.svg');
      @include position(absolute, $top: -30px, $left: 0, $right: 0);
      margin: 0 auto;
    }
  }

  @include breakpoint(lg) {
    padding: 7rem 2rem;

    .reviews {
      @include grid($columns: 1fr, $gap: 5rem);
    }
  }

  @include breakpoint(sm) {
    padding: 7.5rem 0;
  }
}
