@use '../../../styles/scss/abstracts/' as *;

.testimonials {
  position: relative;
  padding: 10rem 0;
  background-color: $deepJungleGreen;

  .heading {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    max-width: 80%;
    margin: 0 auto 6rem auto;

    span {
      color: $raptureBlue;
    }
  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;

    &::before {
      content: url('../../../assets/background/bg-pattern-home-4-about-3.svg');
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: url('../../../assets/background/bg-pattern-home-5.svg');
      position: absolute;
      bottom: -4px;
      right: 0;
    }
  }

  .review {
    position: relative;
    text-align: center;
    line-height: 2;

    .quote {
      position: relative;
      font-weight: 600;
      z-index: 9999;
    }

    .reviewerInfo {
      margin: 1.5rem 0;

      h4 {
        color: $raptureBlue;
        font-weight: 700;
        font-size: 1.125rem;
      }

      .jobTitle {
        font-size: 0.9rem;
        font-style: italic;
      }
    }

    img {
      @include profileAvatar(60px, $lightBlue);
    }

    &::before {
      content: url('../../../assets/icons/icon-quotes.svg');
      position: absolute;
      margin: 0 auto;
      top: -30px;
      left: 0;
      right: 0;
    }
  }

  @include breakpoint(md) {
    padding: 7rem 2rem;

    .heading {
      font-size: 2rem;
    }

    .reviews {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }

  @include breakpoint(sm) {
    padding: 7.5rem 0;
  }
}
