$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

@mixin breakpoint($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// @mixin mainHeading($color) {
//   font-size: 3rem;
//   font-weight: 700;
//   color: $color;

//   @include breakpoint(md) {
//     font-size: 2rem;
//   }
// }

@mixin profileAvatar($width, $borderColor) {
  border-radius: 10rem;
  border: 2px solid $borderColor;
  max-width: $width;
}

/* 50px border line on top of heading */
@mixin lineHeading($color) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    border-top: 4px solid $color;
  }
}
