// FONT VARIABLES
$livvic: 'Livvic', sans-serif;

// COLOR VARIABLES
$midnightGreen: #014e56;
$deepJungleGreen: #004047;
$darkGreen: #002529;
$sacramentoStateGreen: #012f34;
$policeBlue: #2c6269;
$raptureBlue: #79c8c7;
$lightCoral: #f67e7e;
$white: #ffffff;
