@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap");
/* 50px border line on top of heading */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #014e56;
  color: #ffffff;
  font-family: "Livvic", sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0;
  font-size: 0.95rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  margin-top: 0rem;
  margin-bottom: 0rem;
  flex: 1;
}
