@use '../../../styles/scss/abstracts/' as *;

.contact {
  position: relative;
  min-height: 900px;

  .wrapper {
    @include flexbox($justify: space-between);
    padding: 4rem 0;
  }

  .textContent {
    z-index: 999;

    h1 {
      font-size: 4rem;
      font-weight: 700;
    }

    h3 {
      font-size: 2rem;
      font-weight: 700;
      color: $lightCoral;
      margin: 2rem 0;
    }
  }

  .quality,
  .usage,
  .innovation {
    @include flexbox($align: center);
    gap: 1.5rem;
    margin-bottom: 1rem;

    img {
      min-width: 70px;
    }

    .content {
      font-size: 1.125rem;
    }
  }

  form {
    @include flexbox($direction: column);
    gap: 2rem;
    min-width: 50%;

    span {
      color: $lightCoral;
      font-size: 0.7rem;
      font-weight: 700;
      font-style: italic;
      margin-top: -1.3rem;
      margin-left: 1rem;
    }

    .formControl {
      background-color: transparent;
      color: $white;
      font-size: 0.95rem;
      padding: 0 1rem 1.25rem 1rem;
      font-weight: 600;
      resize: none;
      outline: none;
      border: none;
      border-bottom: 1px solid $white;
      transition: 0.5s ease;

      &:focus {
        border-bottom: 1px solid $raptureBlue;
      }

      &::placeholder {
        color: $edwardWhite;
        font-weight: 600;
      }

      &.error {
        border-bottom: 1px solid $lightCoral;

        &::placeholder {
          color: #946b6e;
        }
      }
    }

    textarea {
      font-family: $livvic;
    }
  }

  .linkButton {
    max-width: 150px;
    color: $deepJungleGreen;
  }

  &::before {
    content: url('../../../assets/background/bg-pattern-about-2-contact-1.svg');
    @include position(absolute, $top: 200px, $left: -100px);
  }

  &::after {
    content: url('../../../assets/background/bg-pattern-contact-2.svg');
    @include position(absolute, $bottom: -5px, $right: -100px);
  }

  @include breakpoint(md) {
    min-height: 1350px;

    .wrapper {
      @include flexbox($direction: column);
      padding: 1rem 0;
    }

    .textContent {
      h1,
      h3 {
        text-align: center;
      }
    }

    form {
      min-width: 75%;
      margin-top: 4rem;
    }
  }

  @include breakpoint(sm) {
    min-height: 1250px;

    .wrapper {
      padding: 1rem 0;
    }

    .textContent {
      h1 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 2rem;
      }
    }

    form {
      min-width: 100%;
    }

    &::before {
      display: none;
    }

    &::after {
      bottom: -100px;
      right: -100px;
    }
  }
}
