@use '../../../styles/scss/abstracts/' as *;

.hero {
  position: relative;
  min-height: 700px;

  .wrapper {
    @include grid($columns: repeat(2, 45%));
    justify-content: space-between;
    margin: 5rem 0;

    h1 {
      font-size: $fs-xxl;
      font-weight: 700;
      line-height: 1;
      margin: 0;

      span {
        color: $lightCoral;
      }
    }

    h4 {
      @include flexbox($align: flex-end);
      font-size: $fs-450;
      font-weight: 600;
      line-height: 2;
      @include line-heading($raptureBlue);
    }

    &::before {
      content: url('../../../assets/background/bg-pattern-home-1.svg');
      @include position(absolute, $top: 250px, $left: -100px);
      z-index: -1;
    }

    &::after {
      content: url('../../../assets/background/bg-pattern-home-2.svg');
      @include position(absolute, $bottom: -4px, $right: 100px);
      z-index: -1;
    }
  }

  @include breakpoint(xl) {
    .wrapper {
      &::before {
        display: none;
      }
    }
  }

  @include breakpoint(lg) {
    .wrapper {
      @include grid($columns: 1fr);
      max-width: 80%;
      margin: 3rem auto;
      text-align: center;

      h1 {
        margin-bottom: 1.5rem;
      }

      h4 {
        &::before {
          display: none;
        }
      }

      &::after {
        margin: 0 auto;
        bottom: -4px;
        left: 0;
        right: 0;
      }
    }
  }

  @include breakpoint(md) {
    .wrapper {
      margin: 2rem auto;

      h4 {
        font-size: $fs-400;
      }
    }
  }

  @include breakpoint(sm) {
    .wrapper {
      max-width: 100%;
      margin: 4rem auto;

      h1 {
        width: 80%;
        margin: 1rem auto;
      }
    }
  }
}
