@use '../../../styles/scss/abstracts/' as *;

.hero {
  position: relative;
  padding: 5rem 0;
  min-height: 700px;

  & .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;

    & h1 {
      display: inline-block;
      font-size: 6.25rem;
      font-weight: 700;
      margin: 0;

      & span {
        color: $lightCoral;
      }
    }

    & h4 {
      display: flex;
      align-items: flex-end;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 2;
      @include lineHeading($raptureBlue);
    }

    &::before {
      content: url('../../../assets/background/bg-pattern-home-1.svg');
      position: absolute;
      z-index: -1;
      top: 100px;
      left: -100px;
    }

    &::after {
      content: url('../../../assets/background/bg-pattern-home-2.svg');
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 100px;
    }
  }
}

.whyus {
  position: relative;
  padding: 10rem 0;
  background-color: $sacramentoStateGreen;
  margin-top: -5px;

  & .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;

    & h2 {
      font-size: 3rem;
      padding-top: 4rem;
      @include lineHeading($lightCoral);
    }

    & .experienced,
    & .implement,
    & .productivity {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      & img {
        margin-right: 1.5rem;
        min-width: 70px;
        object-fit: cover;
      }

      & .content {
        line-height: 2;

        & h4 {
          color: $lightCoral;
          margin-bottom: 0.5rem;
        }

        & p {
          font-weight: 600;
        }
      }
    }

    &::after {
      content: url('../../../assets/background/bg-pattern-home-3.svg');
      position: absolute;
      bottom: 0;
      right: -100px;
    }
  }
}

.testimonials {
  position: relative;
  padding: 10rem 0;
  background-color: $deepJungleGreen;

  & h2 {
    font-size: 3rem;
    text-align: center;
    max-width: 80%;
    margin: 0 auto 5rem auto;

    & span {
      color: $raptureBlue;
    }
  }

  & .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    & .review {
      position: relative;
      text-align: center;
      line-height: 2;

      & .quote {
        position: relative;
        font-weight: 600;
        z-index: 9999;
      }

      & .reviewerInfo {
        margin: 1.5rem 0;

        & h4 {
          color: $raptureBlue;
          font-size: 1.125rem;
        }

        & .jobTitle {
          font-size: 0.9rem;
          font-style: italic;
        }
      }

      & img {
        border-radius: 10rem;
        border: 2px solid $lightBlue;
        max-width: 60px;
      }

      &::before {
        content: url('../../../assets/icons/icon-quotes.svg');
        position: absolute;
        margin: 0 auto;
        top: -30px;
        left: 0;
        right: 0;
      }
    }
  }

  &::before {
    content: url('../../../assets/background/bg-pattern-home-4-about-3.svg');
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: url('../../../assets/background/bg-pattern-home-5.svg');
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
