@use '../../../styles/scss/abstracts/' as *;

.hero {
  position: relative;
  min-height: 800px;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    margin: 5rem 0;

    h1 {
      display: inline-block;
      font-size: 6.25rem;
      line-height: 1;
      font-weight: 700;
      margin: 0;

      span {
        color: $lightCoral;
      }
    }

    h4 {
      display: flex;
      align-items: flex-end;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 2;
      @include lineHeading($raptureBlue);
    }

    &::before {
      content: url('../../../assets/background/bg-pattern-home-1.svg');
      position: absolute;
      z-index: -1;
      top: 250px;
      left: -100px;
    }

    &::after {
      content: url('../../../assets/background/bg-pattern-home-2.svg');
      position: absolute;
      z-index: -1;
      bottom: -4px;
      right: 100px;
    }
  }

  @include breakpoint(lg) {
    .wrapper {
      h1 {
        font-size: 5rem;
      }
    }
  }

  @include breakpoint(md) {
    min-height: 700px;

    .wrapper {
      grid-template-columns: 1fr;
      max-width: 80%;
      margin: 5rem auto;
      text-align: center;

      h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
      }

      h4 {
        font-size: 1rem;

        &::before {
          display: none;
        }
      }

      &::before {
        display: none;
      }

      &::after {
        margin: 0 auto;
        bottom: -4px;
        left: 0;
        right: 0;
      }
    }
  }

  @include breakpoint(sm) {
    .wrapper {
      max-width: 100%;
      margin: 3rem auto;

      h1 {
        width: 80%;
        margin: 1rem auto;
        font-size: 2.5rem;
      }
    }
  }
}
