@use '../../../styles/scss/abstracts/' as *;

%paragraphText {
  color: $edwardWhite;
  font-weight: 600;
  font-size: $fs-400;
  margin: 0;
}

.footer {
  padding: 4rem 0;
  background-color: $darkGreen;
  z-index: 999;

  .wrapper {
    @include grid($columns: repeat(2, auto) 1fr, $gap: 5rem);
  }

  .footerLinks {
    @include flexbox($direction: column, $justify: space-between);

    .links {
      font-weight: 600;
      font-size: $fs-450;

      a:not(:last-of-type) {
        margin-right: 2.5rem;
      }
    }
  }

  .companyAddress {
    @extend %paragraphText;
    line-height: 2;
  }

  .socialMedia {
    @include flexbox($direction: column, $justify: space-between);
    text-align: end;

    .svgLinks {
      a:not(:last-of-type) {
        margin-right: 1rem;
      }
    }

    .copyright {
      @extend %paragraphText;
    }
  }

  @include breakpoint(md) {
    .wrapper {
      @include grid(
        $columns: none,
        $areas: 'footerLinks footerlinks' 'socialMedia socialMedia',
        $gap: 2.5rem
      );
      justify-content: space-between;
    }

    .footerLinks {
      grid-area: footerLinks;
      margin-right: 0;

      img {
        max-width: 100px;
      }

      .links {
        font-size: $fs-400;
      }
    }

    .companyAddress {
      text-align: end;
    }

    .socialMedia {
      grid-area: socialMedia;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include breakpoint(sm) {
    .wrapper {
      @include flexbox($direction: column);
      text-align: center;
    }

    .footerLinks {
      gap: 1.5rem;
    }

    .companyAddress {
      text-align: center;
    }

    .socialMedia {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
