@use '../abstracts/' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $midnightGreen;
  color: $white;
  font-family: $livvic;
}

p {
  margin: 0;
}

a {
  color: $white;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  margin-top: 0rem;
  margin-bottom: 0rem;
  flex: 1;
}
